@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url('./image3.jpg');
	background-size: cover;
	background-position: center center;
	color: whitesmoke;
	font-family: 'Lato', sans-serif;
	max-height: 80vh;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 5rem;
	padding: 2rem;
}

.event-wrapper, 
.counter-wrapper {
	display: flex;
	padding: 2rem;
}

.event-wrapper {
	flex-direction: column;
}

.counter-wrapper {
	justify-content: space-between;
}

.counter-unit {
	display: flex;
	flex-direction: column;
}

.counter-number,
.counter-text {
	background-color: rgba(126, 15, 50, .5);
}

.counter-text {
	background-color: unset;
	display: flex;
	font-size: 1.5rem;
	justify-content: center;
	padding: 1.5rem;
}

.counter-number {
	padding: 5rem;
	border-radius: 1rem;
	font-size: 5rem;
	box-shadow: 1.5rem 1rem 1.5rem rgba(120, 10, 40, .5);
}